1ans:

In [ ]:
import pandas as pd
data=pd.read_csv(r'cardata.csv')
data
data.head()
data.head(7)
data.tail()
data.tail(7)
data.describe()
data.dtypes
data.columns
data.iloc[1]
data.shape
data.size

2ans:

In [3]:
def indexupdate(data):
    data=data.reset_index()
    data.index=pd.RangeIndex(start=1, stop=2*len(data)+1, step=2)
    del data['index']
    print(data)

3ans:

In [ ]:
def print3(data):
    l=list(data['Values'])
    j=0
    sum=0
    for i in l:
        if(j<3):
            sum=sum+i
            j=j+1
    print(sum)

4ans:

In [4]:
def newColumn(data):
    data['Word_Count']=data['Text'].str.len()

5ans:

Both dataframe.size() and dataframe.shape are functions used to obtain information about the dimensions of a pandas DataFrame, but they return different information.

The dataframe.shape() function returns a tuple of two values (rows, columns) indicating the number of rows and columns in the DataFrame

 Dataframe.size() function returns the total number of elements in the DataFrame. It is equivalent to the product of the number of rows and the number of columns.

6ans:

The read_excel() function of Pandas to read an Excel file. This function reads data from the first sheet of an Excel workbook and returns a Pandas DataFrame.

In [ ]:
import pandas as pd
df = pd.read_excel('data.xlsx')

read_excel() function reads an Excel file named 'data.xlsx' and returns a DataFrame which is then assigned to the variable df

7ans:

In [ ]:
def seperateUser(data):
    data['Username']=data['Email'].str.split('@').str[0]

8ans:

In [6]:
def greater(data):
    return data[(data['A']>5) & (data['B']<10)]

In [7]:
data={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df1=pd.DataFrame(data)
df=greater(df1)
df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

9ans:

In [ ]:
def calculate(data):
    return data['values'].mean(),data['values'].median(),data['values'].std()

10ans:

In [ ]:
import pandas as pd

def add_moving_average(df):
    
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

11ans:

In [8]:
def createwekdays(data):
    Weekday=['Sunday','Monday','Tuesday','Wednesday','Thursday']
    data['Weekday'] = Weekday
    return data

In [9]:
Data={'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df=pd.DataFrame(Data)
df1=createwekdays(df)
df1

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

12ans:

In [ ]:
def date(data):
    return data.iloc[0:31]

13ans:

To use the basic functions of pandas, the first and foremost necessary library that needs tobe imported is pandas library. Pandas is an open source library in Python. It provides ready to use high-performance data structures and data analysis tools. Pandas module runs on top of NumPy and it is popularly used for data science and data analytics